/backend/dist
/backend/node_modules

/backend/apps/raw_data_processor/dist
/backend/apps/raw_data_processor/node_modules
/backend/apps/raw_data_processor/build

/backend/apps/api/dist
/backend/apps/api/node_modules
/backend/apps/api/build

/backend/apps/scheduler/node_modules
/backend/apps/scheduler/build
/backend/apps/scheduler/dist

/backend/apps/ep_data_consolidator/dist
/backend/apps/ep_data_consolidator/node_modules
/backend/apps/ep_data_consolidator/build


/backend/apps/env_data_consolidator/dist
/backend/apps/env_data_consolidator/node_modules
/backend/apps/env_data_consolidator/build

.tmp